body {
font-family: Arial;
margin: 0;
background: #f6fff2;
}

header {
background: #2e7d32;
color: white;
padding: 15px;
text-align: center;
}

nav {
background: #4caf50;
padding: 10px;
text-align: center;
}

nav a {
color: white;
margin: 15px;
text-decoration: none;
font-weight: bold;
}

.hero {
padding: 40px;
text-align: center;
}

.wa-btn, .cart-btn {
  display: block !important;
  width: 200px;
  margin: 10px auto;
}

.products {
text-align: center;
}

.product-box {
display: inline-block;
background: white;
width: 220px;
margin: 15px;
padding: 15px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;
}

.product-box img {
width: 100%;
border-radius: 10px;
}

.product-img {
width: 300px;
display: block;
margin: auto;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 250px;   /* laptop size */
  margin: 15px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 90%;   /* mobile screen fit */
    margin: 10px 0;
  }

  button {
    width: 100%;
    font-size: 16px;
  }
}